{% extends 'search/base.html' %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="p0header">

  <div class="p0logo">
    <a href="{% url 'search' %}"><img src='{% static 'images/eostree_10.png' %}'></a>
  </div>

  <div class="p0bar">
    <form action="/search" method="get" >
        <input type="text" name="q" placeholder="Account / Keyword" value="{{ keyword }}"><button class="p0btn1" type="submit"><img class ="btnimg" src='{% static 'images/search2.png' %}'></button>
    </form>
  </div>

</div>



<div class="page02">

  <div class="p02ar">

    <div class="p02ar_1">

      <br>
      <br>
      <p style="font-size:15px;">Your account has been activated successfully, redirecting in 3s .... </p>
      <br>
      <p>Click <a href="{% url 'search' %}">here</a> if it doesn't redirect.</p>

    </div>
  </div>
</div>


<script>
    function redirect(){
       window.location.href = "/search";
    }

    setTimeout(redirect, 3000); 
</script>

{% endif %}


{% endblock %}