{% extends 'search/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="p0header">

  <div class="p0logo">
    <a href="{% url 'search' %}"><img src='{% static 'images/eostree_10.png' %}'></a>
  </div>

  <div class="p0bar">
    <form action="/search" method="get" >
        <input type="text" name="q" placeholder="Account / Keyword" value="{{ keyword }}"><button class="p0btn1" type="submit"><img class ="btnimg" src='{% static 'images/search2.png' %}'></button>
    </form>
  </div>

</div>



<div class="page02">

  <div class="p02ar">

    <div class="p02ar_1">

      <br>
      <br>
      <p>Your account is disabled, please contact us if you have any question.</p>

    </div>
  </div>
</div>




{% endblock %}