{% extends 'search/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="p0header">

  <div class="p0logo">
    <a href="{% url 'search' %}"><img src='{% static 'images/eostree_10.png' %}'></a>
  </div>

  <div class="p0bar">
    <form action="/search" method="get" >
        <input type="text" name="q" placeholder="Account / Keyword" value="{{ keyword }}"><button class="p0btn1" type="submit"><img class ="btnimg" src='{% static 'images/search2.png' %}'></button>
    </form>
  </div>

</div>



<div class="page02">

  <div class="p02ar">

    <div class="p02ar_1">

      <br>
      <br>
      <p>Your account is not active yet, please click <a href="" id="resend_link">here</a> to resend the activation email if you need.</p>

    </div>
  </div>
</div>



<script>

var a=['addClass','p11suc','.p02ar_1','error','ready','#resend_link','click','html','Sending...','{{ csrf_token }}','{{ user }}','/a3','post','chg','<p>The\x20activation\x20email\x20has\x20been\x20sent.</p>'];(function(c,d){var e=function(f){while(--f){c['push'](c['shift']());}};e(++d);}(a,0x7c));var b=function(c,d){c=c-0x0;var e=a[c];return e;};$(document)[b('0x0')](function(){$(b('0x1'))['on'](b('0x2'),function(c){$('.p02ar_1')[b('0x3')](b('0x4'));var d=$(this),c={'csrfmiddlewaretoken':b('0x5'),'username':b('0x6')};$['ajax']({'url':b('0x7'),'type':b('0x8'),'data':c,'dataType':'json','success':function(f){if(f[b('0x9')]=='1'){$('.p02ar_1')[b('0x3')](b('0xa'))[b('0xb')](b('0xc'));}else{$(b('0xd'))[b('0x3')](f[b('0xe')]);}}});return![];});});

</script>


{% endblock %}