{% extends 'search/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="p0header">

  <div class="p0logo">
    <a href="{% url 'search' %}"><img src='{% static 'images/eostree_10.png' %}'></a>
  </div>

  <div class="p0bar">
    <form action="/search" method="get" >
        <input type="text" name="q" placeholder="Account / Keyword" value="{{ keyword }}"><button class="p0btn1" type="submit"><img class ="btnimg" src='{% static 'images/search2.png' %}'></button>
    </form>
  </div>

</div>



<div class="page02">

  <div class="p02ar">

    <div class="p02ar_1">

      <a href="/signup/">Don't have an account? Sign up here.</a>
      <br>
      <br>
      <h2>Login</h2>
      <br>
      <form method="post">

        {% if error %}
        <p style="color: red">{{ error }}</p>
        {% endif %}

        {% csrf_token %}
        <p>Username:</p>
        {{ login_form.username }}
        <p>Password:</p>
        {{ login_form.password }}

        <p class="forgot_pass"><a href="/passwordreset/">Forgot password?</a></p>
        <button type="submit">Login</button>

      </form>
    </div>
  </div>
</div>


{% endblock %}