{% extends 'search/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="p0header">

  <div class="p0logo">
    <a href="{% url 'search' %}"><img src='{% static 'images/eostree_10.png' %}'></a>
  </div>

  <div class="p0bar">

    <form action="/search" method="get" >
      
        <input type="text" name="q" placeholder="Account / Keyword" value="{{ keyword }}"><button class="p0btn1" type="submit"><img class ="btnimg" src='{% static 'images/search2.png' %}'></button>
    </form>
  </div>

</div>



<div class="page02">

  <div class="p02ar">

    <div class="p02ar_1">
      <br>

    {% if validlink %}
      <h2>Change password</h2>
      <br>

      <form method="post">
        {% csrf_token %}

        {% for field in form %}
          {% for error in field.errors %}
           <p style="color: red">{{ error }}</p>
          {% endfor %}
        {% endfor %}


        <p>New password:</p>
        {{ form.new_password1 }}
        <p style="font-weight: 200">Must be at least 8 characters.</p>
        <p style="font-weight: 200">Can't be entirely numeric.</p>
        <br>
        <p>Confirm password:</p>
        {{ form.new_password2 }}
        <button type="submit">Submit</button>
      </form>

    {% else %}
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request again.
      </p>
    {% endif %}
    </div>

  </div>
</div>


{% endblock %}