{% extends 'search/base.html' %}

{% load static %}

{% block content %}
  


<div class="p0header">

    <div class="p0logo">
      <a href="{% url 'search' %}"><img src='{% static 'images/eostree_10.png' %}'></a>
    </div>
    <div class="p0bar">
      <form action="/search" method="get" >
          <input type="text" name="q" placeholder="Account / Keyword" value="{{ keyword }}"><button class="p0btn1" type="submit"><img class ="btnimg" src='{% static 'images/search2.png' %}'></button>
      </form>
    </div>

</div>





<div class="p0result">

  <div class="ad_pg">

    <div class="site_map">
      <div class="sm01">
        <p>Advertise</p>
      </div>
    </div>

    <div class="ad_pg01">


      <div class="ad_pg_tx">
        <br>
        <h3>Advertise</h3>
        <br>
        <hr>
        <p>At the moment we provide keyword targeted advertising, our package is flexible and competitive, below you can find ad examples, please contact us for more info.</p>
        <br>
        <p><a href="/search/?q=eostree" target="_blank">Image Ad example</a> or simply search eostree</p>

        <p><a href="/search/?q=text" target="_blank">Text Ad example</a> or simply search text</p>
        <br>



        <div class="user_setting01">
          <form action="" method="post" class="ajax_contact">
            {% csrf_token %}
            <div class="contact_form">
              <ul id="contact_er"></ul>
              <p>Your Name:</p>
              <input type="name" name="sender_name"  required>
              <p></p>
              <p>Your Email:</p>
              <input type="email" name="sender_email"  required>
              <P></P>
              <p>Message:</p>
              <textarea rows="16" cols="60" name="content" id="contact_text" placeholder="Please DO NOT send us your private keys or passwords." required="">Please include the following for us to review.

1. What do you want to advertise:

2. The website:

3. Ad duration:

4. The keyword(s) you are interested in:

5. The form of Ad, text or image: (Or something else? Let us know maybe we can accommodate.) 

</textarea>
              <br>
<!--               <script src='https://www.google.com/recaptcha/api.js'></script>
              <div class="g-recaptcha" data-sitekey="6Lc1bnsUAAAAAFr_HgYGc818Z0DlILD99iyNosrD"></div> -->
              <button type="submit" id="email_button">Send</button>
            </div>
          </form>
        </div>

        <br>
        <br>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  
var a=['attr','name','val','type','ajax','chg','<div\x20class=\x22acct_setting01u\x22><p>Your\x20inquiry\x20has\x20been\x20sent,\x20we\x20will\x20get\x20back\x20to\x20you\x20shortly,\x20thank\x20you\x20for\x20your\x20interest!</p></div>','#contact_er','error','Send','ready','form.ajax_contact','#email_button','html','/a2','method'];(function(c,d){var e=function(f){while(--f){c['push'](c['shift']());}};e(++d);}(a,0x7a));var b=function(c,d){c=c-0x0;var e=a[c];return e;};$(document)[b('0x0')](function(){$(b('0x1'))['on']('submit',function(c){$(b('0x2'))[b('0x3')]('Sending...');var d=$(this),e=b('0x4'),f=d['attr'](b('0x5')),c={};d['find']('[name]')['each'](function(h,i){var d=$(this),k=d[b('0x6')](b('0x7')),i=d[b('0x8')]();c[k]=i;c[b('0x9')]='ad';});$[b('0xa')]({'url':e,'type':f,'data':c,'dataType':'json','success':function(m){if(m[b('0xb')]=='1'){$('.user_setting01')['html'](b('0xc'));}else{$(b('0xd'))[b('0x3')](m[b('0xe')]);$('#email_button')['html'](b('0xf'));}}});return![];});});

  
</script>

{% endblock %}