  
{% load static %}

  <footer>
    <div class="foot">
      <div class="p9head">

        <div class="p9col1">
          <a href="/search">Search</a>
        </div>

        <div class="p9col1">
          <a href="/search#stat">Stat</a>
        </div>

        <div class="p9col1">
          <a href="/advertise">Advertise</a>
        </div>

        <div class="p9col1">
          <a href="/user_agreement">Terms</a>
        </div>

        <div class="p9col1">
          <a href="/user_privacy">Privacy</a>
        </div>
      </div>  

      <div class="p9ar">
        <p>Contact us:</p>
        <div class="p9ar_col">
          <a href="https://twitter.com/eostree_io" target="_blank"><img src ='{% static 'images/twitter.png' %}'></a>
        </div>
        <div class="p9ar_col">
          <a href="https://t.me/joinchat/IVitQQ_6Pn4dp9nk-tHtOA"><img src ='{% static 'images/telegram_w.png' %}'></a>
        </div>
        <div class="p9ar_col2">
          <a class="image-link" href="{% static 'images/wechat.JPG' %}"><img src ='{% static 'images/wechat_w.png' %}'></a>
        </div>
        <div class="p9ar_col">
          <a href="/contact"><img src ='{% static 'images/email_w.png' %}'></a>
        </div>
      </div>


      <div class="p9cp">

        <p style="font-size: 12px;">Donation: eostreedotio</p>
        <br>

        <img src='{% static 'images/eostree_10.png' %}'>
        <p>Copyright © 2018 EOS TREE</p>

      </div>



    </div>
  </footer>