{% load static %}

<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />

<html>
  <head>
    <meta charset="utf-8">
    <title>EOS Tree | Maintenance</title>
  </head>




  <body>

  <div class="warper">


	<div class="page0">

	  <div class="p0head">
	    <div class="p0head1">
	      <img src='{% static 'images/eostree_10.png' %}'>
	    </div>
	  </div>

	  <p>Our server is under maintenance, will be back shortly.</p>
  	</div


  </div>



  </body>

</html>
