{% extends 'search/base.html' %}

{% load static %}

{% block content %}
  

<!--   <h3>Search Home</h3> -->


<div class="page0">

  <div class="p0head">
    <div class="p0head1">
      <img src='{% static 'images/eostree_10.png' %}'>

    </div>
    <main>
  </div>


  <div class="p0ar">

    <div class="p0ar1">
      <form action="/search" method="get" >
        
          {{ form }}<button class="p0btn" type="submit"><img class ="btnimg" src='{% static 'images/search2.png' %}'></button>
      </form>
    </div>

  </div>

<a href="/search#stat">
  <div class="p0foot">
    <img src="{% static 'images/arrow1.png' %}">
  </div>
</a>

</div>









{% if presult == 0 %}
<div class="page01" id="stat">



  <div class="p01ar1" style="background-image: url('{% static 'images/space_line4.png' %}');">

    <p class="text-center"> Total {{qmax}} accounts</p>

    <div class="p01ar1_1">

      <p>Last logged:</p>


      <table class="p01_table">

          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Creator</th>
            <th class="text-center">Block</th>
            <th class="text-center">Created at</th>
          </tr>

          {% for r in qlast %}
            <tr>
              <td><a href="/account/{{ r.name }}">{{ r.name }}</a></td>
              <td><a href="/account/{{ r.creator }}">{{ r.creator }}</a></td>
              <td>{{ r.block }}</td>
              <td>{{ r.time_created | date:"n/d/Y G:i"}}</td>
            </tr>
          {% empty %}

          {% endfor %}
      </table> 
    </div>

  </div>




  <div class="p01ar2" >
    <p class="p01ar2_0p">Account groups</p>

    <div class="p01ar2_0" style="background-image: url('{% static 'images/space_line5.png' %}');">

      <div class="p01ar2_1">
        <a href="/group/genesis">
          <span class="dot1"><p>Genesis</p></span>
        </a>
      </div>
      
      <div class="p01ar2_2">
        <a href="/group/voter">
          <span class="dot2"><p>Voter</p></span>
        </a>
      </div>

      <div class="p01ar2_3">
        <a href="/group/premium">
          <span class="dot3"><p>Premium</p></span>
        </a>
      </div>

      <div class="p01ar2_4">
        <a href="/group/contract">
          <span class="dot4"><p>Contract</p></span>
        </a>
      </div>

      <div class="p01ar2_5">
        <a href="/group/bp">
          <span class="dot5"><p>BP</p></span>
        </a>
      </div>

      <div class="p01ar2_6">
        <a href="/group/frozen">
          <span class="dot6"><p>Frozen</p></span>
        </a>
      </div>

      <div class="p01ar2_7">
        <a href="/group/forsale">
          <span class="dot7"><p>For sale</p></span>
        </a>
      </div>

    </div>
  </div>




  <div class="p01ar3">
    
    <div class="p01ar3_1">
      <h2>Trending keywords</h2>
      <h3>(Last 24 hours)<h3>
    </div>

    <div class="p01ar3_2" style="background-image: url('{% static 'images/space_line6_2.png' %}');">

      <div class="p01ar3_2_1" >
        
          <table class="p01ar3_table">

          {% for k in keyq %}
            <tr>
              <td><a href="/search/?q={{ k.name }}">{{ k.name }}</a></td>
            </tr>
          {% empty %}

            {% endfor %}
          </table> 

      </div>

      <div class="p01ar3_2_2" id="js-chart-container"></div>



    </div>

  </div>






  <div class="p01ar4" style="background-image: url('{% static 'images/space_line7_4.png' %}');">
    
    <div class="p01ar3_1">
      <h2>Top creators</h2>
      <h3>(Last 7 days)</h3>
    </div>

    <div class="p01ar3_2" >

      <div class="p01ar4_2_1" >
        
          <table class="p01ar4_table">

          {% for k in creatorq %}
            <tr>
              <td style="text-align: left;"><a href="/search/?q={{ k.creator }}&sr=2&s=d2">{{ k.creator }}</a></td>
              <td style="text-align: right;">{{ k.vol }}</td>
            </tr>
          {% empty %}

            {% endfor %}
          </table> 

      </div>

    </div>

  </div> 


</div>

{% endif %}




<script src="https://d3js.org/d3.v5.min.js"></script>

<script>

var dataArray = {{ key_vol|safe }};
var width = document.getElementsByClassName("p01ar3_2_2")[0].offsetWidth;
var height = 360;


var widthScale = d3.scaleLinear()
                .domain([0, d3.max(dataArray)])
                .range([0, width*0.96]);

var canvas = d3.select(".p01ar3_2_2")
              .append("svg")
              .attr("width", width)
              .attr("height", height);

var bars = canvas.selectAll("rect")
            .data(dataArray)
            .enter()
                .append("rect")
                .attr("width", function(d) {return widthScale(d); })
                .attr("height", 22)
                .attr("fill", "#21b1ef")
                .attr("y", function(d, i) { return i * 32});



</script>








{% endblock %}
