{% extends 'search/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}


<div class="p0header">

  <div class="p0logo">
    <a href="{% url 'search' %}"><img src='{% static 'images/eostree_10.png' %}'></a>
  </div>

  <div class="p0bar">

    <form action="/search" method="get" >
      
        <input type="text" name="q" placeholder="Account / Keyword" value="{{ keyword }}"><button class="p0btn1" type="submit"><img class ="btnimg" src='{% static 'images/search2.png' %}'></button>
    </form>
  </div>

</div>



<div class="page02">

  <div class="p02ar">

    <div class="p02ar_1">

      <h2>Reset password</h2>
      <form action="" method="post" class="ajax_reset">

        {% if error %}
        <p style="color: red">{{ error }}</p>
        {% endif %}

        {% csrf_token %}
        <ul id="email_er"></ul>

        <p>Email:</p>
        {{ form.email |attr:"id:reset_email" }}

        <button type="submit" id="reset_btn">Submit</button>

      </form>

    </div>
  </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


<script>
  

$(document).ready(function() {

  $('form.ajax_reset').on('submit', function(data){

    $("#reset_btn").html('Reseting...');
    var that =$(this),
    url = '/ajax/reset_pass',
    type = that.attr('method'),
    data = {};
    
    that.find('[name]').each(function(index, value){
      var that =$(this),
      name = that.attr('name'),
      value = that.val();
      data[name] = value;
    });

    $.ajax({
      url: url,
      type: type,
      data: data,
      dataType: "json",

      success: function(data){

        if(data.pass == '1'){
          $(".p02ar_1").html("<span>An email with instruction will be sent if the email address is valid.</span>").css("text-align", "center");
          
        }else{
          
          $("#email_er").html(data.error);
        }
      }

    });

    return false;

  });

});

</script>



{% endblock %}