{% extends 'search/base.html' %}

{% load static %}

{% block content %}
  
{% if request.user.is_authenticated %}


<div class="p0header">

    <div class="p0logo">
      <a href="{% url 'search' %}"><img src='{% static 'images/eostree_10.png' %}'></a>
    </div>

    <div class="p0bar">
      <form action="/search" method="get" >
          <input type="text" name="q" placeholder="Account / Keyword" value="{{ keyword }}"><button class="p0btn1" type="submit"><img class ="btnimg" src='{% static 'images/search2.png' %}'></button>
      </form>
    </div>

</div>





<div class="p0result">


  <div class="user_content">

    <div class="site_map">
      <div class="sm01">
        <p> User content: {{ request.user.username }}</p>
      </div>
    </div>


    <div class="user_acct">
      <br>
      <h3>My content</h3>
      <br>
      

    {% if c1_result == 0 %}
      <span>You don't have content yet</span>
      <br>
      <br>
    {% else %}

      <div class="user_acct_log">
        <table class="user_acct_log_t">
          <tr>
            <th>Date:</th>
            <th>Account:</th>
            <th>Type:</th>
            <th>Content:</th>
          </tr>

          {% for c in c2 %}
          <tr>
            <!-- date -->
            <td>{{ c.date | date:"n/d/Y G:i T"}}</td>
            <!-- Acct -->
            {% if c.acct %}
            <td><a href="/account/{{ c.acct }}">{{ c.acct }}</a></td>
            {% else %}
            <td><a href="/account/{{ c.comment.acct }}">{{ c.comment.acct }}</a></td>
            {% endif %}

            <!-- type -->
            {% if c.post == True %}
            <td>C</td>
            {% elif c.post == False %}
            <td>R</td>
            {% elif c.like == '1' %}
            <td>L</td>
            {% elif c.like == '0' %}
            <td>D</td>
            {% elif c.like == '2' %}
            <td>X</td>
            {% else %}
            <td></td>
            {% endif %}

            {% if c.like == '1' %}
            <td>Like</td>
            {% elif c.like == '0' %}
            <td>Dislike</td>
            {% else %}
            <td>{{ c.content|truncatechars:30 }}</td>
            {% endif %}

          </tr>
          {% endfor %}
        </table>


        <div class="user_acct_log_pg">
        {% if c2.has_other_pages %}
          <ul class="pagination">
            {% if c2.has_previous %}
              <li><a href="?page={{ c2.previous_page_number }}{% if keyword %}&q={{keyword}}{% endif %}{% if s_range %}&sr={{s_range}}{% endif %}{% if sort1 %}&s={{sort1}}{% endif %}{% if mode1 %}&m={{mode1}}{% endif %}{% if group_num != 0 %}{% for key, values in group_p.items %}&{{key}}={{values}}{% endfor %}{% endif %}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><a class="page-link" href="#" tabindex="-1"><span>&laquo;</span></a></li>
            {% endif %}


            {% for i in pagesc2 %}
              {% if i == -1 %}
              <li class="disabled"><a class="page-link" href="#" tabindex="-1">&hellip;</a></li>
              {% elif c2.number == i %}
              <li class="page-item active"><a href="#">{{ i }}</a></li>
              {% else %}
              <li><a href="?page={{ i }}{% if keyword %}&q={{keyword}}{% endif %}{% if s_range %}&sr={{s_range}}{% endif %}{% if sort1 %}&s={{sort1}}{% endif %}{% if mode1 %}&m={{mode1}}{% endif %}{% if group_num != 0 %}{% for key, values in group_p.items %}&{{key}}={{values}}{% endfor %}{% endif %}">{{ i }}</a>
              {% endif %}
            {% endfor %}


            {% if c2.has_next %}
              <li><a href="?page={{ c2.next_page_number }}{% if keyword %}&q={{keyword}}{% endif %}{% if s_range %}&sr={{s_range}}{% endif %}{% if sort1 %}&s={{sort1}}{% endif %}{% if mode1 %}&m={{mode1}}{% endif %}{% if group_num != 0 %}{% for key, values in group_p.items %}&{{key}}={{values}}{% endfor %}{% endif %}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><a class="page-link" href="#" tabindex="-1"><span>&raquo;</span></a></li>
            {% endif %}
          </ul>
        {% endif %}
        </div>

    {% endif %}


    </div>

  </div>




</div>


{% endif %}



{% endblock %}