{% extends 'search/base.html' %}

{% load static %}

{% block content %}
  
{% if request.user.is_authenticated %}


<div class="p0header">

    <div class="p0logo">
      <a href="{% url 'search' %}"><img src='{% static 'images/eostree_10.png' %}'></a>
    </div>

    <div class="p0bar">

      <form action="/search" method="get" >
        
          <input type="text" name="q" placeholder="Account / Keyword" value="{{ keyword }}"><button class="p0btn1" type="submit"><img class ="btnimg" src='{% static 'images/search2.png' %}'></button>

      </form>
    </div>

</div>





<div class="p0result">

  <div class="user_content">

    <div class="site_map">
      <div class="sm01">
        <p> User account: {{ request.user.username }}</p>
      </div>
    </div>



    <div class="user_acct">
      <br>
      <h3>My profile</h3>
      <br>
      <table>
        <tr>
          <th>Username: </th> 
          <td>{{ request.user.username }}</td>
        </tr>

        <tr>
          <th>Email: </th>
          <td>{{ userr.email }}</td>
        </tr>

        <tr>
          <th>Registered at: </th>
          <td>{{ userr.date_joined | date:"n/d/Y G:i T" }}</td>
        </tr>

        <tr>
          <th>Active posts:</th>
          <td>{{ c1_num }}</td>
        </tr>

        <tr>
          <th>Last login: </th>
          <td>{{ request.user.last_login | date:"n/d/Y G:i T" }}</td>
        </tr>

      </table>

      <br>
      <br>
      <br>

    </div>


  </div>




</div>


{% endif %}



{% endblock %}