{% extends 'search/base.html' %}

{% load static %}

{% block content %}
  

<!--   <h3>Search</h3> -->



  <div class="p0header">

    <div class="p0logo">
      <a href="{% url 'search' %}"><img src='{% static 'eostree_7_2.png' %}'></a>
    </div>


    <div class="p0bar">

      <form action="/search" method="get" >
        
          {% csrf_token %} 
          {{ form }}
          <button class="p0btn" type="submit">Search</button>
      </form>

    </div>

  </div>





  <div class="p0ds">

    <p>This is the ERROR PAGE</p>

    {% if err_info %}


      <p> {{ err_info }} </p>
      <p> {{ acct_name }} </p>



    {% endif %}

  </div>








{% endblock %}
